/* Navbar */
.navbar {
    height: 100px;
    background: linear-gradient(to bottom, #101010, #1a1a2e); /* Smooth gradient to match hero section */
    color: #2a4bd083; /* Light gray text */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
}

.navbar .wrapper {
    max-width: 1366px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar .quote {
    font-size: 1.2rem;
    font-weight: 600;
    color: #f5fbfeb3;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
                 0 0 20px rgba(255, 255, 255, 0.5),
                 0 0 30px rgba(255, 255, 255, 0.5),
                 0 0 40px rgba(255, 255, 255, 0.5),
                 0 0 50px rgba(255, 255, 255, 0.5);
    animation: glowAnimation 1s ease-in-out infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Social Icons */
.navbar .social {
    display: flex;
    gap: 20px;
}

.navbar .social img {
    width: 18px;
    height: 18px;
}
